{#{% set block = 'e-node--b-photo--v-full' %}#}
<article class=e-node--b-photo--v-full itemscope itemtype="http://schema.org/ImageObject">
  <section class=e-node--b-photo--v-full__r-first>
    <div class=e-node--b-photo--v-full__f-field-photo>
      <a href="{{ node.field_photo['und'][0]['uri']|file_url|raw }}" title="{{ node.title }}" class=colorbox
         rel="gallery-node-{{ node.nid|raw }}">
        <img itemprop=image src="{{ node.field_photo['und'][0]['uri']|file_url|raw }}" alt="{{ node.title }}"
             title="{{ node.title }}" height=640 width=640>
      </a>
    </div>
  </section>
  <section class=e-node--b-photo--v-full__r-second>
    <div class=e-node--b-photo--v-full__f-like>
      <span class=st_fblike_hcount displayText='Facebook'></span>
      <span class=st_twitter_hcount displayText='Tweet'></span>
      <span class=st_plusone_hcount displayText='Google +1'></span>
    </div>
    <div class=e-node--b-photo--v-full__f-author itemscope itemprop="author" itemtype="https://schema.org/Person">
      <figure>
        <img src="{{ node.meta.user.profile_picture|raw }}" itemprop="image">
        <figcaption>
          <a href="//instagram.com/{{ node.meta.user.username }}" rel="nofollow me" itemprop="sameAs"
             target=_blank>{{ node.meta.user.username }}</a>
        </figcaption>
      </figure>
    </div>
    <time class=e-node--b-photo--v-full__f-date itemprop="datePublished"
          datetime="{{ node.created|date('c') }}">{{ node.created|drupal_date }}</time>
    <div class=e-node--b-photo--v-full__f-tags>
      {% for tag in node.meta.tags %}
        <a class=tag href='/tags/{{ tag|transliterate }}'>#{{ tag }}</a>
      {% endfor %}
    </div>
    {% if node.meta.caption.text %}
      <div class=e-node--b-photo--v-full__f-description itemprop="description">
        {{ node.meta.caption.text }}
      </div>
    {% endif %}
    {% if node.meta.location %}
      <div itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">{{ node.meta.location.name }}</span>

        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
          <meta itemprop="latitude" content="{{ node.meta.location.latitude }}"/>
          <meta itemprop="longitude" content="{{ node.meta.location.longitude }}"/>
        </div>
      </div>
    {% endif %}
  </section>
  <footer class=e-node--b-photo--v-full__r-footer>
    <div class=e-node--b-photo--v-full__f-share>
      <span class=st_facebook_large displayText='Facebook'></span>
      <span class=st_vkontakte_large displayText='Vkontakte'></span>
      <span class=st_googleplus_large displayText='Google +'></span>
      <span class=st_livejournal_large displayText='LiveJournal'></span>
      <span class=st_twitter_large displayText='Tweet'></span>
      <span class=st_linkedin_large displayText='LinkedIn'></span>
      <span class=st_mail_ru_large displayText='mail.ru'></span>
      <span class=st_odnoklassniki_large displayText='Odnoklassniki'></span>
      <span class=st_pinterest_large displayText='Pinterest'></span>
    </div>
    <div class=e-node--b-photo--v-full__f-comments>
      {{ render('d\\Antipanels\\Fragment\\CackleComments', {node:node})|raw }}
    </div>
  </footer>
</article>
